[package]
name = "actix-web-demo"
version = "0.1.0"
edition = "2018"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
actix-web = { version = "=4.0.0-beta.13" }
actix-http = { version = "=3.0.0-beta.14" }
tokio = "1.14.0"
serde = "1.0.130"

log = "0.4.14"
env_logger = "0.9.0"

[dependencies.sqlx]
version = "0.5.7"
default-features = false
features = [
    "runtime-actix-rustls",
    "macros",
    "postgres",
    "uuid",
    "chrono",
    "migrate"
]

[dev-dependencies]
reqwest = "0.11.6"
actix-rt = "2.5.0"
