server:
  address: 0.0.0.0
  http_port: 8080
  https_port: 8443

security:
  ssl_certificate: "test-cert.pem"
  ssl_private_key: "test-key.pem"
  signing_private_key: "tests/test-signing-key.pem"
  signing_public_key: "key_repository/test.pem"
  jwt_private_key: "tests/test-signing-key.pem"
  jwt_public_key: "key_repository/test.pem"
  jwt_minutes_to_live: 60

database:
  host: "localhost"
  port: 5432
  username: "postgres"
  password: "password"
  database_name: "actix-web-demo"
