application:
  name: actix-web-demo

server:
  address: 0.0.0.0
  http_port: 8080
  https_port: 8443
  grpc_address: 0.0.0.0
  grpc_port: 3009

security:
  tls_private_key: "resources/tls_private_key.pem"
  tls_certificate: "resources/tls_certificate.pem"
  signing_private_key: "resources/signing_private_key.pem"
  signing_public_key: "resources/signing_public_key.pem"
  jwt_private_key: "resources/signing_private_key.pem"
  jwt_public_key: "resources/signing_public_key.pem"
  jwt_minutes_to_live: 60

database:
  host: "localhost"
  port: 5432
  username: "postgres"
  password: "password"
  database_name: "actix-web-demo"

logging:
  format: text
  tokio_console: false
  opentelemetry: false
